body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1rem;
  margin: 2rem;
  color: #333;
}
a {
  text-decoration: none;
  color: orangered;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
body > header {
  margin: 0 0 3rem 0;
}
body > footer {
  font-size: .9rem;
  margin: 4rem 0;
  color: #666;
}
body > header .markdista-logotype {
  font-size: 2rem;
  letter-spacing: -.4rem;
}
body > header .markedista-logotext {
  margin-left: .4rem;
}
body > footer .markdista-logotype {
  font-size: 1.2rem;
  letter-spacing: -.2rem;
}
body > footer .markedista-logotext {
  font-size: 1rem;
  margin-left: .2rem;
}
.posts > article {
  margin: 2rem 0;
}
.post-title {
  margin: 1rem 0 .25rem 0;
}
.posts > article > p {
  margin: .5rem 0;
}
.post-date {
  font-size: .85rem;
  color: grey;
}
.page-nav {
  margin-top: 3rem;
}
a.btn {
  border: solid 1px orangered;
  border-radius: 3px;
  padding: .25rem .75rem;
  margin-right: 1rem;
}
a.btn.disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}
.post-title {
  color: orangered;
}