body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin: 2rem;
  color: #333;
}
a {
  text-decoration: none;
  color: orangered;
}
a > h2 {
  display: inline-block;
}
code, code.hljs {
  font-size: 1.1em;
}
.hljs {
  border-radius: 6px;
  padding: .75em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
h1,
article h1, aside h1, nav h1, section h1
{
  font-size: 1.75em;
}
body > header {
  margin: 0 0 3em 0;
}
body > footer {
  font-size: .9em;
  margin: 4em 0;
  color: #666;
}
body > header .markdista-logotype {
  font-size: 1.5em;
  letter-spacing: -.15em;
}
body > header .markedista-logotext {
  margin-left: .25em;
}
body > footer > a {
  margin-right: 2em;
}
body > footer .markdista-logotype {
  font-size: 1.5em;
  letter-spacing: -.15em;
}
body > footer .markedista-logotext {
  font-size: 1.1em;
  margin-left: .225em;
}
.posts > article {
  margin: 2em 0;
}
.post-title {
  margin: 0;
  color: orangered;
}
.posts > article > p {
  margin: .75em 0;
}
.post-date {
  display: block;
  margin-top: .5em;
  font-size: .85em;
  color: grey;
}
.post-summary-template-section {
  display: none;
}
.full-post {
  margin-bottom: 3em;
}
.full-post .post-body img {
  max-width: 100%;
  /* percent relative to viewport height */
  max-height: 80vh;
}
.page-nav {
  margin-top: 3em;
}
a.btn {
  display: inline-block;
  border: solid 1px orangered;
  border-radius: 3px;
  padding: .25em .75em;
  margin-right: 1em;
}
a.btn.disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}
.btn-arrow-icon {
  font-size: 1.25em;
  line-height: 1em;
}
a.filtered-tag-link {
  border-bottom: 1px solid orangered;
  padding-bottom: 1px;
}
.tags-container {
  margin-top: .5em;
}
.tags-filter-view {
  display: inline-block;
  border-radius: 6px;
  padding: .5em 0 .5em .75em;
  margin-bottom: .5em;
  background-color: aliceblue;
}
.tags-filter-view a.btn {
  white-space: nowrap;
  border: none;
  border-radius: 6px 0 0 6px;
  margin-top: .25em;
  margin-bottom: .25em;
  background-color: orangered;
  color: #fff;
}
.tags-filter-view a.btn.unfiltered {
  background-color: lightsteelblue;
  color: darkslategrey;
}
.tags-filter-view a.btn > .remove-icon,
.tags-filter-view a.btn > .add-icon {
  display: inline-block;
  height: 1em;
  margin: 0 -.25em 0 .5em;
  font-size: 1em;
}
.tags-filter-view a.btn > .remove-icon {
  font-weight: 600;
  transform: scale(1.9, 1);
  color: orange;
}
.tags-filter-view a.btn:hover > .remove-icon {
  color: gold;
}
.tags-filter-view a.btn > .add-icon {
  transform: scale(1.4, 1.4);
  color: aliceblue;
}
.tags-filter-view a.btn:hover > .add-icon {
  color: white;
}
a.btn-all-tags {
  display: inline-block;
  margin: 0 0 .5em .75em;
}
.posts-count {
  margin-top: 1.5em;
  font-style: italic;
  color: grey;
}
.grey-text {
  color: darkgrey;
}
.gold-text {
  color: gold;
}
.aliceblue-text {
  color: aliceblue;
}
.invisible {
  opacity: 0;
}
.hidden {
  display: none;
}
.tags-section {
  border-top: 2px solid aliceblue;
  padding-top: 1em;
}
svg {
  fill: orangered;
}
a.show, a.btn.show {
  background-image: url('./images/eye-slash.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1em;
  padding-left: 1.25em;
}
a.hide, a.btn.hide {
  background-image: url('./images/eye.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1em;
  padding-left: 1.25em;
}
.fb-comments-section {
  display: inline-block;
  margin-top: 4em;
  background-color: aliceblue;
  border-radius: 6px;
  padding: .25em .5em;
}
.subscribe-via-rss > img {
  width: 1em;
  height: 1em;
}
/* custom css for "touch targets": */
@media (hover:none), (hover:on-demand) {
  .fb-comments-section {
    display: block;
  }
}
/* fix close icon positioning for featherlight gallery on mobile devices */
@media only screen and (max-width: 1024px) {
  body {
    margin: 1.5rem;
  }
  .featherlight .featherlight-close-icon {
    top: 9px;
    right: 10px;
  }
}