body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin: 1rem 2rem;
  color: #262626;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  text-size-adjust: none;
}
a {
  text-decoration: none;
  color: orangered;
}
.accent-color {
  color: orangered;
}
code, code.hljs {
  font-size: 1.1em;
}
.hljs {
  border-radius: 6px;
  padding: .75em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.full-post .post-body > h1,
.full-post .post-body > h2,
.full-post .post-body > h3,
.full-post .post-body > h4,
.full-post .post-body > h5,
.full-post .post-body > h6 {
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: .66em;
}
h1,
article h1, aside h1, nav h1, section h1
{
  font-size: 1.5em;
}
h2 {
  font-size: 1.35em;
}
h3 {
  font-size: 1.15em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: .875em;
}
h6 {
  font-size: .85em;
  color: #595959;
}
.post-body p {
  margin-top: 0;
  margin-bottom: .66em;
}
hr {
  border-style: solid;
  border-color: aliceblue;
}
body > header {
  margin: 0 0 3em 0;
}
body > header .btn-go-home {
  font-size: 2em;
}
body > header .hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 1;
  margin: 0;
  padding: .2em .35em .25em .45em;
  background-color: orangered;
  /* background-color: rgba(255, 69, 0, .8); */
  border-radius: 0 0 0 3px;
}
body > header .hamburger:hover {
  opacity: 1;
}
body > header .hamburger.is-active {
  background-color: transparent;
}
body > header .hamburger .hamburger-box {
  width: 2em;
  height: 1.75em;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 2em;
  height: .25em;
  background-color: #fff;
}
body > header .nav-main {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  min-width: 18em;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  background-color: orangered;
  border-radius: 0 0 0 6px;
  color: #fff;
}
body > header .nav-main ul {
  margin: 1.75em 1em .75em 1em;
  padding: 0;
  font-size: 1.5em;
  line-height: 2em;
}
body > header .nav-main ul > li {
  display: block;
  border-bottom: 1px solid darkorange;
}
body > header .nav-main a {
  display: block;
  color: #fff;
}
body > header .nav-main ul > li:last-child {
  border: 0 none;
}
body > header .nav-main ul > li.social-icon-links-in-menu {
  padding: .75em 0 .25em 0;
  text-align: center;
}
body > header .nav-main ul > li.social-icon-links-in-menu a {
  display: inline-block;
  margin-right: .5em;
}
body > header .nav-main ul > li.social-icon-links-in-menu a:last-child {
  margin-right: 0;
}
body > header .nav-main ul > li.social-icon-links-in-menu a img {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
}
body > footer {
  font-size: .9em;
  margin: 4em 0;
  color: #606060;
}
body > header .markdista-logotype {
  font-size: 1.5em;
  letter-spacing: -.15em;
}
body > header .markedista-logotext {
  margin-left: .25em;
}
body > footer > a {
  margin-right: 1em;
}
body > footer .markdista-logotype {
  font-size: 1.5em;
  letter-spacing: -.15em;
}
body > footer .markedista-logotext {
  font-size: 1.1em;
  margin-left: .225em;
}
.posts > article {
  margin: 2em 0;
}
.post-title {
  margin: 0;
  color: orangered;
  font-size: 1.6em;
}
.posts > article > p {
  margin: .75em 0 0 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.post-date-wrapper {
  margin-top: .5em;
}
.post-date-icon-wrapper {
  display: inline-block;
  width: .85em;
  height: .85em;
  line-height: .85em;
  background-image: url('./images/calendar-alt.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: .85em;
}
.post-date {
  display: inline-block;
  font-size: .85em;
  color: grey;
}
.post-summary-template-section,
.other-post-summary-template-section {
  display: none;
}
.post-summary {
  padding: 0 0 1em 0;
  border-bottom: 2px solid aliceblue;
}
.post-summary .post-thumbnail,
.full-post .post-thumbnail {
  float: left;
  width: 3.5em;
  height: 3.5em;
  margin-right: .5em;
  border: 1px solid aliceblue;
  border-radius: 3px;
}
.full-post {
  margin-bottom: 3.5em;
}
.full-post .post-body {
  padding-top: .5em;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.full-post .post-body > h1 {
  margin-top: 1.5em;
  padding-bottom: .25em;
  border-bottom: 1px solid #e6e6e6;
  color: #4d4d4d;
}
.full-post .post-body > h2 {
  margin-top: 1.5em;
  padding-bottom: .25em;
  border-bottom: 1px solid #f2f2f2;
  color: #404040;
}
.full-post .post-body img,
.full-post .post-body iframe {
  max-width: 100%;
  /* percent relative to viewport height */
  max-height: 80vh;
}
.full-post .post-body img.smaller {
  max-height: 40vh;
}
.share-btns-container {
  display: inline-block;
  height: 1.5em;
  margin-bottom: .75em;
  border: 1px solid orangered;
  border-radius: 3px;
}
.share-btns-container > img {
  margin-right: .25em;
  background-color: orangered;
}
.share-btns-container img {
  width: 1em;
  height: 1em;
  padding: .25em;
}
.share-btns-container a {
  display: inline-block;
  margin-right: .1em;
}
.share-btns-container a:last-child {
  margin-right: .5em;
}
.page-nav {
  margin-top: 3em;
}
a.btn {
  display: inline-block;
  border: solid 1px orangered;
  border-radius: 3px;
  padding: .25em .75em;
  margin-right: 1em;
}
a.btn.disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}
.btn-arrow-icon {
  font-size: 1.25em;
  line-height: 1em;
}
a.filtered-tag-link {
  background-color: yellow;
}
.tags-container {
  float: right;
  margin: .75em 0 0 .75em;
}
.tags-container.on-full-post {
  margin: .25em 0 0 .75em;
}
.clear-floats {
  clear: both;
  height: 0;
  line-height: 0;
}
.tags-filter-view {
  display: inline-block;
  border-radius: 6px;
  padding: .5em 0 .5em .75em;
  margin-bottom: .5em;
  background-color: aliceblue;
}
.tags-filter-view a.btn {
  white-space: nowrap;
  border: none;
  border-radius: 6px 0 0 6px;
  margin-top: .25em;
  margin-bottom: .25em;
  background-color: orangered;
  color: #fff;
}
.tags-filter-view a.btn.unfiltered {
  background-color: lightsteelblue;
  color: darkslategrey;
}
.tags-filter-view a.btn > .remove-icon,
.tags-filter-view a.btn > .add-icon {
  display: inline-block;
  height: 1em;
  margin: 0 -.25em 0 .5em;
  font-size: 1em;
}
.tags-filter-view a.btn > .remove-icon {
  font-weight: 600;
  transform: scale(1.9, 1);
  color: orange;
}
.tags-filter-view a.btn:hover > .remove-icon {
  color: gold;
}
.tags-filter-view a.btn > .add-icon {
  transform: scale(1.4, 1.4);
  color: aliceblue;
}
.tags-filter-view a.btn:hover > .add-icon {
  color: white;
}
a.btn-all-tags {
  display: inline-block;
  margin: 0 0 .5em .75em;
}
.posts-count {
  margin-top: 1.5em;
  font-style: italic;
  color: grey;
}
.grey-text {
  color: darkgrey;
}
.gold-text {
  color: gold;
}
.aliceblue-text {
  color: aliceblue;
}
.invisible {
  opacity: 0;
}
.hidden {
  display: none;
}
.tags-section {
  border-top: 2px solid aliceblue;
  padding-top: 1em;
}
svg {
  fill: orangered;
}
a.show, a.btn.show {
  background-image: url('./images/eye-slash.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1em;
  padding-left: 1.25em;
}
a.hide, a.btn.hide {
  background-image: url('./images/eye.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1em;
  padding-left: 1.25em;
}
.fb-comments-section {
  display: inline-block;
  margin-top: 4em;
  min-width: 550px;
  min-height: 183px;
  background-color: aliceblue;
  background-image: url('./images/loading-comments.svg');
  background-size: 10em;
  background-repeat: no-repeat;
  background-position: center 4.5em;
  border-radius: 6px;
  padding: .25em .5em;
}
.fb-comments-section iframe {
  background-color: aliceblue;
}
.related-and-newer-posts {
  float: right;
  width: 50%;
  margin-top: -3em;
  font-size: .75em;
}
.related-posts,
.newest-posts {
  border: 2px solid aliceblue;
  border-radius: 6px;
}
.newest-posts {
  margin-top: 2em;
}
.newest-posts.no-related {
  margin-top: 0;
}
.related-posts > header,
.newest-posts > header {
  padding: .75em;
  font-size: 1.3em;
  line-height: 1.3em;
  background-color: aliceblue;
  color: #666666;
}
.related-and-newer-posts .post-summary {
  margin: 1em;
}
.related-and-newer-posts .post-summary:last-child {
  border: 0 none;
  padding-bottom: 0;
}
.related-and-newer-posts .post-summary .post-date-wrapper {
  margin-top: .4em;
}
.related-and-newer-posts .post-summary .post-date-icon-wrapper {
  width: .95em;
  height: .95em;
  line-height: 1em;
  background-size: .95em;
}
.related-and-newer-posts .post-summary .post-date {
  font-size: .95em;
}
.subscribe-via-rss {
  margin-right: 2em;
}
.subscribe-via-rss > img {
  width: 1em;
  height: 1em;
}

.social-icon-links {
  margin-top: 1em;
}
.social-icon-links a {
  margin-right: .5em;
}
.social-icon-links a:last-child {
  margin-right: 0;
}
.social-icon-links a img {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

/* custom css for "touch targets": */
@media (hover:none), (hover:on-demand) {
  .fb-comments-section {
    display: block;
    min-width: 90%;
  }
  .related-and-newer-posts {
    float: none;
    display: block;
    width: auto;
    margin-top: 2em;
    margin-left: 0;
  }
}
/* Breakpoint: iPhone 5/SE */
@media only screen and (min-width: 320px) {
}
/* Breakpoint: Galaxy S5 */
@media only screen and (min-width: 360px) {
}
/* Breakpoint: iPhone 6/7/8 */
@media only screen and (min-width: 375px) {
}
/* Breakpoint: Pixel 2 (including XL) */
@media only screen and (min-width: 411px) {
  .social-icon-links {
    float: right;
    margin-top: 0;
  }
}
/* Breakpoint: iPhone 6/7/8+ */
@media only screen and (min-width: 414px) {
}
/* Breakpoint: iPhone 5/SE (Landscape orientation) and above */
@media only screen and (min-width: 568px) {
}
@media only screen and (min-width: 1024px) {
}
/* Breakpoint: iPhone 6/7/8+ */
@media only screen and (max-width: 414px) {
  body > header .nav-main {
    width: 100%;
    border-radius: 0 0 6px 6px;
    text-align: center;
  }
}
/* fix close icon positioning for featherlight gallery on mobile devices */
@media only screen and (max-width: 1024px) {
  body {
    margin: .5rem 1rem;
  }
  .featherlight .featherlight-close-icon {
    top: 9px;
    right: 10px;
  }
  .post-date-wrapper {
    margin-top: .4em;
  }
  .related-and-newer-posts .post-summary .post-date-wrapper {
    margin-top: .3em;
  }
}
@media 
  (hover:none) and (min-width: 1024px),
  (hover:on-demand) and (min-width: 1024px),
  only screen and (max-width: 1220px) and (min-width: 1024px)  {
  .related-posts,
  .newest-posts {
    width: 49%;
  }
  .related-posts {
    float: left;
  }
  .newest-posts {
    float: right;
    margin-top: 0;
  }
  .newest-posts.no-related {
    width: auto;
    float: none;
  }
}
@media only screen and (max-width: 1220px) {
  .related-and-newer-posts {
    float: none;
    display: block;
    width: auto;
    margin-top: 2em;
    margin-left: 0;
  }
}