    </section>
  </article>
  <section id="tags-section" class="tags-section">
    <span>Tags:</span>
    <div id="tags-container" class="tags-container">
    </div>
  </section>
  <section id="page-nav" class="page-nav">
    <a id="btn-older-post" class="btn disabled" href="#"><span class="btn-arrow-icon">&laquo;</span> Older</a>
    <a id="btn-newer-post" class="btn disabled" href="#">Newer <span class="btn-arrow-icon">&raquo;</span></a>
  </section>
  <footer>
    <span id="year-placeholder">2018</span> made with
    <a href="https://github.com/padurean/markedista">
      <span class="markdista-logotype">&lambda;&lambda;</span><span class="markedista-logotext">arkedista</span>
    </a>
  </footer>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../highlight/highlight.pack.js"></script>
<script type="text/javascript" src="../highlight/highlightjs-line-numbers.2.3.0.min.js"></script>
<script type="text/javascript" src="../main-post.js"></script>
</html>