<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Markedista - Static Blog Generator based on npm, marked and jsdom">
  <meta name="keywords" content="static, blog, generator, javascript, npm, nodejs, marked, jsdom, markedista">
  <meta name="author" content="Valentin Padurean (Ogg)">
  <title>Markedista - Static Blog Generator based on npm, marked and jsdom</title>
  <link rel="stylesheet" href="/highlight/styles/atom-one-light.css">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <header><a href="/"><h1><span class="markdista-logotype">&lambda;&lambda;</span><span class="markedista-logotext"></span>arkedista Blog</h1></a></header>
  <article class="full-post">
    <header class="post-header">
      <h2 id="post-title" class="post-title"></h2>
      <time id="post-date" class="post-date" datetime="">&nbsp;</time>
    </header>
    <section id="post-body" class="post-body">